h1{
	font-family: 'Titan One', cursive;
	text-align: center;
	font-size:100px;
	margin-top:0px;
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

img {
width:700px;
height:600px;
margin:40px;
border-radius: 50px;
transition:all 1s;
}

img:hover{
transform:scale(1.5);

}
